<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <nav class="navbar-brand" href="/urls">TinyApp</nav>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" style="justify-content: space-between" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if (!user) {%>
          <a class="nav-item nav-link" href="/urls">My URLs</a>
          <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
      <% } %>
        <!-- LOGIN / LOGOUT -->
        <% if(user) { %>
          <a class="nav-item nav-link" href="/urls">My URLs</a>
          <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
          <p class="text-white">Logged in as <%= user.email %>
          </p>
          <form method="POST" action="/logout" class="navbar-nav d-flex justify-content-between">
            <button type="submit" class="btn btn-dark">Sign out</button>
          </form>
          <% } else { %>
            <form method="GET" action="/login" class="navbar-nav d-flex justify-content-between">
              <a class="nav-item nav-link" href="/login">Sign in</a>

              <form method="GET" action="/register" class="navbar-nav d-flex justify-content-between">
                <a class="nav-item nav-link" href="/register">Register</a>
              </form>
            </form>
            <%}%>
              <!-- END OF LOGIN / LOGOUT -->
    </div>
  </nav>
</header>